#portfolio img {
    height: 300px;
    object-fit: cover;
  }
  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .btn-primary {
    margin-right: 0.5rem;
  }
/* 
  h1 {
   
    text-align: center;
  } */

  /* @media screen and (
    max-width: 668px) {
      #portfolio .card-wrapper {
        width: 100% !important;
      }
  }

  @media (max-width: 768px) {
    .portfolio-title {
      color: white;
      text-shadow: -1px -1px 0 #000,  
                1px -1px 0 #000,
               -1px  1px 0 #000,
                1px  1px 0 #000;
    }
  } */

/* h1::backdrop {
    background-color: ;
  } */